__pycache__
models/black-forest-labs
models/FLUX
models/Qwen
models/Wan-AI
models/train
data/images
data/
outputs/
*.pdf
logs/*
!logs/vkitti_eval/
!logs/hypersim_eval/
my_sim2real_*/
*.log
!logs/vkitti_eval/*.log
!logs/hypersim_eval/*.log
*.safetensors
*.egg-info
nucarla_cosmos_configs/