[submodule "FlowEdit"]
	path = FlowEdit
	url = https://github.com/fallenshock/FlowEdit.git
[submodule "surreal"]
	path = surreal
	url = https://github.com/gulvarol/surreal.git
[submodule "ECCV-2026-WPD"]
	path = ECCV-2026-WPD
	url = git@github.com:HerrWangkv/ECCV-2026-WPD.git
[submodule "DNAEdit"]
	path = DNAEdit
	url = https://github.com/xiechenxi99/DNAEdit_code
[submodule "DrivIng"]
	path = DrivIng
	url = https://github.com/cvims/DrivIng
[submodule "CosmosTransfer"]
	path = CosmosTransfer
	url = https://github.com/nvidia-cosmos/cosmos-transfer2.5
[submodule "nuCarla"]
	path = nuCarla
	url = https://github.com/michigan-traffic-lab/nuCarla
[submodule "LightEMMA"]
	path = LightEMMA
	url = https://github.com/HerrWangkv/LightEMMA.git
	branch = main
[submodule "eval_video"]
	path = eval_video
	url = https://github.com/HerrWangkv/eval_video.git
[submodule "ss26"]
	path = ss26
	url = git@gitlab.mrt.kit.edu:kwang/ss26.git
[submodule "WACV-2027-WPD"]
	path = WACV-2027-WPD
	url = https://github.com/HerrWangkv/WACV-2027-WPD
